form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 20rem;
    margin: auto;
    background: #333;
    border-radius: 3px;
    width: 50%;
    height: 70%;
    color: blue;
}

form a {
    color: blue;
}

.input {
    max-width: 40%;
}

input[type='text'], input[type='password'] {
    display: block;
    margin: 0.4rem 0 1rem 0;
    width: 96%;
}

input[type='submit'] {
    background: linear-gradient(to left, #4476E6, #8E54E9);
    margin-top: 0.6rem;
    border-radius: 3px;
    padding: 0.5rem 0;
    cursor: pointer;
    border: none;
    width: 30%;
    color: gainsboro;
}