.new-post-button {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    border-bottom: 1px solid var(--current-border);
    padding: 0.8rem;
    cursor: pointer;
}

.new-post-button:hover {
    background: var(--current-post-hovered-bg);
}

.new-post-button:active {
    background: var(--current-post-active-bg);
}

.new-post-button .material-symbols-outlined {
    font-size: 2rem;
    margin: 0.4rem 0rem;
}