/* Add post focused variables and manipulate from react */

:root {
    /* Light mode */
    --light-post-hovered-bg: #d6d6d6;
    --light-post-active-bg: #c1c1c1;

    /* Dark mode */
    --dark-post-hovered-bg: #363636; 
    --dark-post-active-bg: #2f2f2f;
    
    /* Defaults */
    --current-post-hovered-bg: var(--dark-post-hovered-bg);
    --current-post-active-bg: var(--dark-post-active-bg);
}

.right-column {
    flex: 1;
    overflow: auto;
}

.list-header {
    background: var(--current-bg);
    position: sticky;
    top: 0;
}

.posts-list {
    padding: 0;
    margin: 0;
}

.posts {
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--current-border);
    padding: 0.8rem;
    cursor: pointer;
}

.posts:hover {
    background: var(--current-post-hovered-bg);
}

.posts:active {
    background: var(--current-post-active-bg);
}

.posts .previews {
    width: 83%;
}

.posts .previews div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.posts .title-preview {
    margin-bottom: 0.5rem;
}

.posts .content-preview {
    font-style: italic;
    color: gray;
}

.posts .timestamps {
    flex: 1;
    color: gray;
    text-align: right;
    font-size: 0.8rem;
}

@media (prefers-color-scheme: light) {
    :root {
        --current-post-hovered-bg: var(--light-post-hovered-bg);
        --current-post-active-bg: var(--light-post-active-bg);
    }
}