.post-editor {
    flex: 1;
    position: relative;
}

.post-editor .focused-post-title, .post-editor .focused-post-content {
    color: var(--current-fg);
    background: none;
    border: none;
    resize: none;
    outline: none;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    overflow: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.post-editor .focused-post-title {
    border-bottom: 1px solid var(--current-border);  
    font-size: 2rem;
    height: 25%;
}

.post-editor .focused-post-content {
    height: 61%;
}

.post-editor .buttons {
    margin: 0rem 1rem 1rem 0rem;
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    display: flex;
    gap: 1rem;
}

.post-editor button {
    border: none;
    background: #363636;
    color: whitesmoke;
    padding: 0.5rem;
    border-radius: 4px;
    font-weight: 550;
}

.post-editor button:hover {
    cursor: pointer;
    color: #45caff;
    background: #2f2f2f;
}
