.post-editor {
    flex: 1;
    position: relative;
}

.post-editor textarea {
    color: var(--current-fg);
    background: none;
    border: none;
    resize: none;
    outline: none;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    overflow: auto;
}

.post-editor .focused-post-title {
    border-bottom: 1px solid var(--current-border);  
    font-size: 2rem;
    height: 25%;
}

.post-editor .focused-post-content {
    height: 61%;
}

.post-editor .icons {
    margin: 0rem 1rem 1rem 0rem;
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    display: flex;
    gap: 0.5rem;
}

.post-editor .icons .material-symbols-outlined {
    cursor: pointer;
    font-size: 3.5rem;
    border-radius: 25%;
}

.post-editor .icons .material-symbols-outlined:hover {
    background: #333;
}

.post-editor .icons .material-symbols-outlined:active {
    background: rgb(66, 66, 66);
}