.status-display {
    border-bottom: 1px solid var(--current-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 2rem;
    gap: 0.8rem;
    font-size: 0.9rem;
    font-weight: 100;
    padding: 0.4rem 0.8rem;
}

.status-display .status-container {
    overflow-wrap: anywhere;
}

.material-symbols-outlined {
    font-size: 2rem;
    color: #45caff;
    cursor: pointer;
    padding: 0;
    background: none;
}